$S : 576px;
$M : 768px;
$L : 992px;
$X : 1200px;

$small-font :1rem;
$big-font :2rem;
$color-violet :#C43E97;
$color-gray :#696969;
$color-dark:#000;
$color-green:#00A67E;


$color-loading:#ffe22a;

/*=============key============*/
$color-blue-key :#15A9FE;
$color-dark-blue-key :#00366B;
$color-green-key :#50D6B6;
/*=============bootstrap============*/
$modal-fade-transform: translate(0, 400px);
/*=============progress============*/
$color-background:rgb(250,243,229);
$color-background-green:rgb(153,208,192);
$color-progress-yellow :rgb(255,196,0);
$color-progress-orange :rgb(255,150,2);
$color-question-gray :rgb(109,109,109);
$color-item-orange :rgb(255,104 ,69);
$color-item-select-red :rgb(133,0,0);
$color-submit-green :rgb(27,158,108);




